.bodyStyle {
    background: url(../images/background.png) center center fixed;
    background-size: contain;
    position: relative;
    display: flex;
    justify-content: center;
}

.toy {
    border-radius: 50%;
    position: absolute;
    background-color: black;
    border: 1px solid black;
}

.tree {
    height: 100%;
}

.remoteControl {
    position: absolute;
    left: 5%;
    top: 5%;
    height: 35%;
    width: 10%;
    border-radius: 1vh;
    border: 1vh solid rgb(62, 85, 22);
    display: flex;
    justify-content: space-around;
    background-color: darkolivegreen;
}

.remoteButton {
    margin: 1vh;
    height: 5vh;
    width: 5vh;
    background: gray;
    border: 0.5vh solid black;
    border-radius: 50%;
}

.remoteButton:hover {
    opacity: 50%;
}