@font-face 
{
	font-family: 'Conv_Klik-Light';
	src: url('../Fonts/Klik-Light.eot');
	src: local('☺'), url('../Fonts/Klik-Light.woff') format('woff'), url('../Fonts/Klik-Light.ttf') format('truetype'), url('../Fonts/Klik-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html
{
    font-size: 1.6vw;
}
body
{
    font-size:1rem;
    font-family: 'PT Sans', sans-serif;
    line-height: 22;
}
.my-header
{
    padding-top:5vh;
    padding-bottom:7vh;
    background:#eeebdd;
}
.company-name,
.logo
{
    margin-top:1vh;
}
.logo
{
    width: 100%;
    max-width: 15vw;
}
.basic-text
{
    font-size:1rem;
    color:rgb(75, 68, 68);
}
.company-name
{
    color:rgb(82, 82, 82);
    font-weight:bold;
    font-size:2.2857rem;
}
.number-text
{
    font-family: 'Conv_Klik-Light';
    font-size:1.7143rem;
    color:rgb(75, 68, 68);
}
.slider
{
    background:rgb(247, 240, 240);
}
.slider-image
{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    z-index: 0;
    width: 100%;
    max-width: 1000px;
    height: 45vh;
    max-height: 300px;
}
.red-circle,
.blue-circle,
.green-circle
{
    border-radius: 50%;
    opacity: 0.2;
    position: absolute;
}
.red1
{
    left:25%;
    top:30%;
}
.red2
{
    left:50%;
    top:10%;
}
.red-circle
{
    background:red;  
    width: 20%;
    padding-top:20%;
    min-height: 7vh;
    min-width: 7vh;
    z-index:1;
}
.green1
{
    left:0%;
    top:-15%;
}
.green2
{
    left:75%;
    top:60%;
}
.green-circle
{
    background:green;
    width: 25%;
    padding-top:25%;
    min-height: 10vh;
    min-width: 10vh;
    z-index:2;
}
.blue1
{
    left:20%;
    top:70%;
}
.blue2
{
    left:55%;
    top:-20%;
}
.blue3
{
    left:75%;
    top:5%;
}
.blue-circle
{
    background:blue;
    width: 15%;
    padding-top:15%;
    min-height: 5vh;
    min-width: 5vh;
    z-index:3;
}
.news-box
{
    width:100%;
    height: auto;
    background:rgb(56, 55, 55);
    color:white;
    border-radius: 2px;
    border:0.004vw solid black;
}
.news-box,
.content-box
{
    margin-top:3vh;
    margin-bottom:2vh;
}
.content-box
{
    margin-left:1%;
    color:rgb(116, 107, 107);
    text-align: justify;
}
.uniqueness-item
{
    margin-top:2%;
    background:rgb(229, 230, 238);
    border:0.001vw solid black;
    border-radius: 20px 20px 20px 0px;
    text-align:center;
    color:black;
}
.nav-item:hover,
.text-underline
{
    text-decoration: underline;
}
.my-footer
{ 
    margin-top:15vh;
    background:#393e46;
    color:white;
    padding:2%;
}