@font-face 
{
	font-family: 'Conv_Klik-Light';
	src: url('fonts/Klik-Light.eot');
	src: local('☺'), url('fonts/Klik-Light.woff') format('woff'), url('fonts/Klik-Light.ttf') format('truetype'), url('fonts/Klik-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body
{
    margin:0;
    padding:0;
    font-size:14px;
    font-family: 'PT Sans', sans-serif;
    line-height: 22px;
    background:rgb(241, 232, 232);
}
html,body
{
    min-width: 1000px;
    height: 100%;
}
.cover-class
{
    display: grid;
    grid-template-rows: 150px 50px 300px 1fr 150px;
    overflow-y: scroll;
}
.content
{
    min-height: 100%;
    position: relative;
    background:white;
}
.content-inside 
{
    background:white;
    z-index:10;
    padding: 20px;
    padding-bottom: 50px;
}
.footer-class,.header-class
{
    padding:15px;
    display:grid;
}
.header-class
{
    
    position: relative;
    z-index:10;
    background:rgb(196, 183, 183);
    grid-template-areas:".a...b.";
}
.footer-class
{
    margin-top: -50px;
    position: relative;
    z-index:10;
    background:gray;
    grid-template-areas:".a.b.c";
}
.header-box1
{
    grid-area: a;
}
.header-box2
{
    grid-area: b;
}
.header-box
{
    height: auto;
    width: 400px;
    padding: 5px;
}
.basic-text,.company-name
{
    margin:15px;
}
.company-name
{
    padding-top:10px;
    color:rgb(82, 82, 82);
    font-weight:bold;
    font-size:32px;
}
.logo
{
    height: 100px;
    width: 100px;
    float:left;
    margin:15px;
}
.block1
{
    grid-area: a;
}
.block2
{
    grid-area: b;
}
.block3
{
    grid-area: c;
}
.block,.block1,.block2,.block3
{
    padding:10px;
    max-height:100px;
    width: 150px;
}
.white-text
{
    color:white;
}
.white-text p
{
    margin:5px;
}
.text-underline
{
    text-decoration:underline;
}
.basic-text
{
    font-size:14px;
    color:rgb(75, 68, 68);
}
.number-text
{
    font-family: 'Conv_Klik-Light';
    font-size:24px;
    color:rgb(75, 68, 68);
}
.align-right
{
    text-align: right;
}
.menu
{
    position: relative;
    z-index:10;
    width: 100%;
    background:rgb(70, 63, 63);
    display:grid;
    grid-template-columns: 1fr repeat(5,120px) 1fr;
    grid-gap: 5px 5px;
}
.menu-item:hover
{
    text-decoration: underline;
}
.menu-item + .menu-item
{
    border-left: 1px solid white;
    padding-left:4px;
}
.menu-item1
{
    grid-column-start: 2;
    grid-column-end: 2;
}
.menu-item2
{
    grid-column-start: 3;
    grid-column-end: 3;
}
.menu-item3
{
    grid-column-start: 4;
    grid-column-end: 4;
}
.menu-item4
{
    grid-column-start: 5;
    grid-column-end: 5;
}
.menu-item5
{
    grid-column-start: 6;
    grid-column-end: 6;
}
.menu-item
{
    color:white;
    text-align: center;
}
.slider
{
    background:rgb(247, 240, 240);
    width: 100%;
}
.under-menu-image
{
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    z-index: 0;
    width: 1000px;
    height: 300px;
    position: relative;
}
.red-circle,.blue-circle,.green-circle
{
    border-radius: 50%;
    opacity: 0.2;
    position: absolute;
}
.red1
{
    left:25%;
    top:30%;
}
.red2
{
    left:50%;
    top:10%;
}
.red-circle
{
    background:red;  
    height: 200px;
    width: 200px;
    z-index:1;
}
.green1
{
    left:0%;
    top:-15%;
}
.green2
{
    left:75%;
    top:60%;
}
.green-circle
{
    background:green;
    height: 250px;
    width: 250px;
    z-index:2;
}
.blue1
{
    left:20%;
    top:70%;
}
.blue2
{
    left:55%;
    top:-20%;
}
.blue3
{
    left:75%;
    top:5%;
}
.blue-circle
{
    background:blue;
    height: 150px;
    width: 150px;
    z-index:3;
}